<div class="answers-container">
    <div class="card-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{question?.question}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, facere, sed corporis magni hic fugiat error eos saepe provident alias enim dignissimos obcaecati placeat optio ea nulla nisi ut praesentium!
            </mat-card-content>
        </mat-card>
    </div>
</div>